<h1 style = "text-align:center;">2023 ESPN CRICKET INFORMATION</h1>

<h2 style="text-align:center;">(HIGHEST CAREER BATTING AVERAGE)</h2>

The objective of this project is use BeautifulSoup to scrape **ESPN Cricket Information Website** for the **Highest Career Catting Average**. This process automates the extraction of statistical data on batting performance of cricket players and saved in a csv file in its raw form. The data obtained is then preprocessed ready for analysis.

<h3 style="text-align:left;">PART ONE: WEB SCRAPING</h3>

Web Scraping streamlines and automates the process of extracting the Highest Career Catting Average. The goal is to retrieve accurate and up-to-date information on players with the highest career batting averages.

In [1]:
import requests 
import pandas as pd 
from bs4 import BeautifulSoup

In [2]:
url = "https://www.espncricinfo.com/records/year/batting-highest-career-batting-average/2023-2023/test-matches-1"
response = requests.get(url)
if response.status_code == 200:
    soup = BeautifulSoup(response.text, "html.parser")
    title = soup.title.text
    print(f"Page Title: {title}")
else:
    print(f"Failed. Status Code: {response.status_code}")

Page Title: 2023 Test match batting highest career batting average | ESPNcricinfo

In [24]:
table = soup.find("table")
column_data = table.find_all("tr")[:1]
for row in column_data:
    columns = [data.text for data in row.find_all("td")]
        
df = pd.DataFrame(columns = columns)   
          
row_data = table.find_all("tr")[1:]
for row in row_data:
    individual_row_data = [data.text for data in row.find_all("td")]
    
    length = len(df)
    df.loc[length] = individual_row_data
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,GS Ballance (ZIM),2023-2023,1,2,1,155,137*,155.00,294,52.72,1,-,-,12,2
1,Saud Shakeel (PAK),2023-2023,4,7,2,504,208*,100.80,1090,46.23,2,1,-,60,0
2,YBK Jaiswal (IND),2023-2023,2,3,0,266,171,88.66,491,54.17,1,1,-,29,3
3,AR Patel (IND),2023-2023,4,5,2,264,84,88.00,474,55.69,-,3,-,25,9
4,Shakib Al Hasan (BAN),2023-2023,1,1,0,87,87,87.00,94,92.55,-,1,-,14,0
5,Agha Salman (PAK),2023-2023,4,7,3,325,132*,81.25,473,68.71,1,1,-,39,3
6,Ishan Kishan (IND),2023-2023,2,3,2,78,52*,78.00,91,85.71,-,1,-,8,2
7,AK Markram (SA),2023-2023,2,4,0,276,115,69.00,427,64.63,1,1,-,45,0
8,MR Marsh (AUS),2023-2023,4,8,2,403,118,67.16,549,73.40,1,3,-,57,9
9,JE Root (ENG),2023-2023,8,14,2,787,153*,65.58,1031,76.33,2,5,-,68,15
10,FDM Karunaratne (SL),2023-2023,6,10,0,608,179,60.80,939,64.74,2,3,-,70,0
11,DM de Silva (SL),2023-2023,6,10,2,486,122,60.75,794,61.20,1,3,1,62,8
12,GD Phillips (NZ),2023-2023,2,4,1,181,87,60.33,208,87.01,-,1,-,19,6
13,SJ Erwee (SA),2023-2023,1,2,1,60,42*,60.00,180,33.33,-,-,-,8,0
14,BKG Mendis (SL),2023-2023,6,10,0,586,245,58.60,841,69.67,2,2,1,69,12
15,KS Williamson (NZ),2023-2023,7,13,1,695,215,57.91,1279,54.33,4,-,1,75,3
16,V Kohli (IND),2023-2023,7,10,0,557,186,55.70,1080,51.57,2,1,-,53,0
17,UT Khawaja (AUS),2023-2023,12,22,1,1168,195*,55.61,2689,43.43,3,6,2,132,5
18,Najmul Hossain Shanto (BAN),2023-2023,4,8,0,440,146,55.00,607,72.48,3,-,1,54,5
19,HC Brook (ENG),2023-2023,8,14,1,701,186,53.92,766,91.51,1,6,1,86,11
20,AD Mathews (SL),2023-2023,6,10,2,408,115,51.00,787,51.84,2,2,1,41,7
21,Mushfiqur Rahim (BAN),2023-2023,4,8,1,355,126,50.71,526,67.49,1,2,-,38,3
22,T Bavuma (SA),2023-2023,3,6,1,252,172,50.40,463,54.42,1,-,2,25,2
23,RG Sharma (IND),2023-2023,7,11,0,540,120,49.09,909,59.40,2,2,-,59,13
24,KNM Fernando (SL),2023-2023,5,8,0,385,205,48.12,716,53.77,1,1,-,45,4
25,Litton Das (BAN),2023-2023,2,4,1,141,66*,47.00,156,90.38,-,1,-,19,2
26,BM Duckett (ENG),2023-2023,8,15,1,654,182,46.71,760,86.05,1,3,-,78,2
27,OJ Pope (ENG),2023-2023,5,9,0,410,205,45.55,485,84.53,1,-,-,45,6
28,TM Head (AUS),2023-2023,11,21,1,902,163,45.10,1183,76.24,1,5,-,124,13
29,LD Chandimal (SL),2023-2023,6,10,2,359,102*,44.87,665,53.98,1,1,-,41,0
30,Mominul Haque (BAN),2023-2023,4,8,2,265,121*,44.16,401,66.08,1,-,-,28,3
31,LJ Tucker (IRE),2023-2023,4,8,0,351,108,43.87,545,64.40,1,1,-,46,1
32,Z Crawley (ENG),2023-2023,8,15,1,606,189,43.28,685,88.46,1,3,-,78,3
33,I Kaia (ZIM),2023-2023,2,4,0,172,67,43.00,287,59.93,-,1,-,23,0
34,SPD Smith (AUS),2023-2023,12,22,2,853,121,42.65,1730,49.30,3,2,1,102,6
35,DJ Mitchell (NZ),2023-2023,7,13,2,469,102,42.63,766,61.22,1,4,1,36,11
36,HT Tector (IRE),2023-2023,4,8,0,336,85,42.00,738,45.52,-,4,1,34,7
37,Abdullah Shafique (PAK),2023-2023,4,7,0,291,201,41.57,533,54.59,1,-,1,33,4
38,T Chanderpaul (WI),2023-2023,6,11,2,369,207*,41.00,998,36.97,1,-,-,32,3
39,JM Bairstow (ENG),2023-2023,6,9,1,322,99*,40.25,418,77.03,-,3,-,43,4
40,BA Stokes (ENG),2023-2023,8,13,0,515,155,39.61,831,61.97,1,2,-,48,17
41,Mehidy Hasan Miraz (BAN),2023-2023,4,6,1,196,55,39.20,315,62.22,-,2,-,23,2
42,Sarfaraz Ahmed (PAK),2023-2023,4,7,1,235,118,39.16,348,67.52,1,1,-,25,1
43,K Zondo (SA),2023-2023,1,1,0,39,39,39.00,83,46.98,-,-,-,2,2
44,S Samarawickrama (SL),2023-2023,4,5,1,156,104*,39.00,197,79.18,1,-,1,19,0
45,MJ Henry (NZ),2023-2023,4,5,1,150,72,37.50,172,87.20,-,2,1,19,5
46,Imam-ul-Haq (PAK),2023-2023,4,7,1,224,83,37.33,510,43.92,-,3,-,21,2
47,A Athanaze (WI),2023-2023,2,3,0,112,47,37.33,258,43.41,-,-,-,14,1
48,PR Stirling (IRE),2023-2023,2,4,0,149,103,37.25,238,62.60,1,-,-,17,4
49,AR McBrine (IRE),2023-2023,4,8,1,258,86*,36.85,473,54.54,-,2,-,34,3
50,AM Rahane (IND),2023-2023,3,4,0,146,89,36.50,284,51.40,-,1,-,18,1
51,TA Blundell (NZ),2023-2023,7,13,1,433,138,36.08,770,56.23,1,3,1,50,2
52,MJ Santner (NZ),2023-2023,1,2,1,36,35*,36.00,46,78.26,-,-,-,3,1
53,AY Patel (NZ),2023-2023,3,4,3,36,35,36.00,92,39.13,-,-,-,4,0
54,KC Brathwaite (WI),2023-2023,6,11,0,390,182,35.45,904,43.14,1,1,1,42,1
55,RA Jadeja (IND),2023-2023,7,9,1,281,70,35.12,675,41.62,-,2,1,30,3
56,M Labuschagne (AUS),2023-2023,12,23,2,736,111,35.04,1688,43.60,1,3,1,97,2
57,MR Adair (IRE),2023-2023,3,6,1,170,88,34.00,240,70.83,-,1,1,23,3
58,Mahmudul Hasan Joy (BAN),2023-2023,3,6,0,203,86,33.83,404,50.24,-,2,-,26,0
59,TWM Latham (NZ),2023-2023,7,13,0,430,83,33.07,918,46.84,-,4,1,51,1
60,Shubman Gill (IND),2023-2023,5,8,1,230,128,32.85,362,63.53,1,-,-,23,1
61,DP Conway (NZ),2023-2023,7,13,0,422,122,32.46,868,48.61,1,3,2,49,4
62,CR Ervine (ZIM),2023-2023,2,4,0,124,72,31.00,190,65.26,-,1,-,11,0
63,BT Foakes (ENG),2023-2023,2,4,0,124,51,31.00,198,62.62,-,1,1,14,0
64,C Campher (IRE),2023-2023,4,8,0,240,111,30.00,527,45.54,1,-,1,37,3
65,C Green (AUS),2023-2023,6,10,1,269,114,29.88,577,46.62,1,-,1,35,1
66,DA Warner (AUS),2023-2023,10,18,0,529,164,29.38,892,59.30,1,2,1,66,5
67,PSP Handscomb (AUS),2023-2023,4,6,1,145,72*,29.00,360,40.27,-,1,1,18,0
68,HM Nicholls (NZ),2023-2023,7,13,1,348,200*,29.00,576,60.41,1,-,-,28,5
69,T de Zorzi (SA),2023-2023,2,4,0,114,85,28.50,234,48.71,-,1,1,15,0
70,Zakir Hasan (BAN),2023-2023,3,6,0,168,71,28.00,278,60.43,-,2,-,18,1
71,PWA Mulder (SA),2023-2023,1,2,0,54,42,27.00,101,53.46,-,-,-,9,0
72,J Blackwood (WI),2023-2023,6,11,1,269,79,26.90,475,56.63,-,2,-,35,3
73,JO Holder (WI),2023-2023,6,9,2,185,81*,26.42,351,52.70,-,1,1,19,6
74,Shan Masood (PAK),2023-2023,4,7,0,184,51,26.28,219,84.01,-,1,-,24,2
75,Tamim Iqbal (BAN),2023-2023,1,2,0,52,31,26.00,101,51.48,-,-,-,5,1
76,CA Pujara (IND),2023-2023,5,8,1,181,59,25.85,434,41.70,-,1,1,20,1
77,MM Ali (ENG),2023-2023,4,7,0,180,54,25.71,276,65.21,-,1,-,20,4
78,SN Thakur (IND),2023-2023,2,2,0,51,51,25.50,114,44.73,-,1,1,6,0
79,B Mavuta (ZIM),2023-2023,2,3,0,73,56,24.33,175,41.71,-,1,-,11,0
80,D Elgar (SA),2023-2023,3,6,0,144,71,24.00,252,57.14,-,1,-,21,0
81,AT Carey (AUS),2023-2023,12,18,1,404,66*,23.76,729,55.41,-,2,2,52,4
82,R Ashwin (IND),2023-2023,6,6,0,142,56,23.66,263,53.99,-,1,-,18,1
83,RA Reifer (WI),2023-2023,5,9,0,211,62,23.44,466,45.27,-,3,1,26,1
84,Babar Azam (PAK),2023-2023,4,7,0,162,39,23.14,292,55.47,-,-,-,23,2
85,DT Tiripano (ZIM),2023-2023,1,2,1,23,23*,23.00,58,39.65,-,-,1,3,0
86,RRS Cornwall (WI),2023-2023,1,2,1,23,19*,23.00,48,47.91,-,-,-,4,0
87,RTM Mendis (SL),2023-2023,4,4,0,90,42,22.50,205,43.90,-,-,-,9,1
88,SR Harmer (SA),2023-2023,2,3,0,67,47,22.33,229,29.25,-,-,-,6,0
89,OE Robinson (ENG),2023-2023,5,9,3,133,39,22.16,200,66.50,-,-,-,16,0
90,MG Bracewell (NZ),2023-2023,5,8,1,155,74*,22.14,273,56.77,-,1,1,18,0
91,Hashmatullah Shahidi (AFG),2023-2023,1,2,1,22,13*,22.00,30,73.33,-,-,-,3,0
92,Mohammed Shami (IND),2023-2023,4,5,2,65,37,21.66,77,84.41,-,-,-,7,3
93,A Balbirnie (IRE),2023-2023,4,8,0,172,95,21.50,356,48.31,-,1,1,21,0
94,KA Maharaj (SA),2023-2023,2,3,0,64,53,21.33,112,57.14,-,1,-,7,1
95,N Wagner (NZ),2023-2023,3,6,3,63,27,21.00,89,70.78,-,-,-,3,5
96,Afsar Zazai (AFG),2023-2023,1,2,0,42,36,21.00,52,80.76,-,-,-,6,0
97,MA Wood (ENG),2023-2023,3,5,1,83,28,20.75,64,129.68,-,-,-,9,4
98,Nasir Jamal (AFG),2023-2023,1,2,0,41,35,20.50,65,63.07,-,-,-,6,0
99,Karim Janat (AFG),2023-2023,1,2,0,41,23,20.50,65,63.07,-,-,-,2,2

In [25]:
df.to_csv("HighestAverage2023_raw_data.csv")

<h3 style="text-align:left;">PART TWO: DATA PREPROCESSING (DATA CLEANING)</h3>

In Part Two, the data obtained by Web Scraping using BeautifulSoup is preprocessed ready for analysis, comparison, and tracking of player performance over time.

In [27]:
# Rename columns to make the abbreviations understandable 
df = df.rename(columns = 
         {"Mat":"Matches_Played",
          "Inns":"Innings_Batted",
          "NO": "Not_Outs",
          "Runs":"Runs_Scored",
          "HS": "Highest_Inns_Score",
          "Ave":"Batting_Average",
          "BF":"Balls_Faced",
          "SR":"Batting_Strike_Rate", 
          "100": "Hundreds_Scored",
          "50":"Fifties_Scored",
          "0": "Ducks_Scored",
          "4s":"Boundary_Fours",
          "6s":"Boundary_Sixes"
             
        })
df.head()

,Player,Span,Matches_Played,Innings_Batted,Not_Outs,Runs_Scored,Highest_Inns_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Hundreds_Scored,Fifties_Scored,Ducks_Scored,Boundary_Fours,Boundary_Sixes
0,GS Ballance (ZIM),2023-2023,1,2,1,155,137*,155.00,294,52.72,1,-,-,12,2
1,Saud Shakeel (PAK),2023-2023,4,7,2,504,208*,100.80,1090,46.23,2,1,-,60,0
2,YBK Jaiswal (IND),2023-2023,2,3,0,266,171,88.66,491,54.17,1,1,-,29,3
3,AR Patel (IND),2023-2023,4,5,2,264,84,88.00,474,55.69,-,3,-,25,9
4,Shakib Al Hasan (BAN),2023-2023,1,1,0,87,87,87.00,94,92.55,-,1,-,14,0

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player               100 non-null    object
 1   Span                 100 non-null    object
 2   Matches_Played       100 non-null    object
 3   Innings_Batted       100 non-null    object
 4   Not_Outs             100 non-null    object
 5   Runs_Scored          100 non-null    object
 6   Highest_Inns_Score   100 non-null    object
 7   Batting_Average      100 non-null    object
 8   Balls_Faced          100 non-null    object
 9   Batting_Strike_Rate  100 non-null    object
 10  Hundreds_Scored      100 non-null    object
 11  Fifties_Scored       100 non-null    object
 12  Ducks_Scored         100 non-null    object
 13  Boundary_Fours       100 non-null    object
 14  Boundary_Sixes       100 non-null    object
dtypes: object(15)
memory usage: 12.5+ KB

In [30]:
#Check Duplicated 
df.duplicated().any()

False

In [31]:
# Check Missing Values 
df.isna().any().sum()

0

In [9]:
# Given the year is 2023 drop the column span
df = df.drop(columns = ["Span"], axis = 1)
df

,Player,Matches_Played,Innings_Batted,Not_Outs,Runs_Scored,Highest_Inns_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Hundreds_Scored,Fifties_Scored,Ducks_Scored,Boundary_Fours,Boundary_Sixes
0,GS Ballance (ZIM),1,2,1,155,137*,155.00,294,52.72,1,-,-,12,2
1,Saud Shakeel (PAK),4,7,2,504,208*,100.80,1090,46.23,2,1,-,60,0
2,YBK Jaiswal (IND),2,3,0,266,171,88.66,491,54.17,1,1,-,29,3
3,AR Patel (IND),4,5,2,264,84,88.00,474,55.69,-,3,-,25,9
4,Shakib Al Hasan (BAN),1,1,0,87,87,87.00,94,92.55,-,1,-,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,N Wagner (NZ),3,6,3,63,27,21.00,89,70.78,-,-,-,3,5
96,Afsar Zazai (AFG),1,2,0,42,36,21.00,52,80.76,-,-,-,6,0
97,MA Wood (ENG),3,5,1,83,28,20.75,64,129.68,-,-,-,9,4
98,Nasir Jamal (AFG),1,2,0,41,35,20.50,65,63.07,-,-,-,6,0
99,Karim Janat (AFG),1,2,0,41,23,20.50,65,63.07,-,-,-,2,2

In [32]:
# Separate player from country 
df["Country"] = df["Player"].str.split("(").str[1]
df["Country"] = df["Country"].str.split(")").str[0]
df["Player"] = df["Player"].str.split("(").str[0]
df.head()

,Player,Span,Matches_Played,Innings_Batted,Not_Outs,Runs_Scored,Highest_Inns_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Hundreds_Scored,Fifties_Scored,Ducks_Scored,Boundary_Fours,Boundary_Sixes,Country
0,GS Ballance,2023-2023,1,2,1,155,137*,155.00,294,52.72,1,-,-,12,2,ZIM
1,Saud Shakeel,2023-2023,4,7,2,504,208*,100.80,1090,46.23,2,1,-,60,0,PAK
2,YBK Jaiswal,2023-2023,2,3,0,266,171,88.66,491,54.17,1,1,-,29,3,IND
3,AR Patel,2023-2023,4,5,2,264,84,88.00,474,55.69,-,3,-,25,9,IND
4,Shakib Al Hasan,2023-2023,1,1,0,87,87,87.00,94,92.55,-,1,-,14,0,BAN

In [33]:
# Convert string objects to int and floats where necessary
df["Matches_Played"] = df["Matches_Played"].astype("int")
df["Innings_Batted"] = df["Innings_Batted"].astype("int")
df["Not_Outs"] = df["Not_Outs"].astype("int")
df["Runs_Scored"] = df["Runs_Scored"].astype("int")
df.dtypes

Player                 object
Span                   object
Matches_Played          int32
Innings_Batted          int32
Not_Outs                int32
Runs_Scored             int32
Highest_Inns_Score     object
Batting_Average        object
Balls_Faced            object
Batting_Strike_Rate    object
Hundreds_Scored        object
Fifties_Scored         object
Ducks_Scored           object
Boundary_Fours         object
Boundary_Sixes         object
Country                object
dtype: object

In [34]:
df["Highest_Inns_Score"] = df["Highest_Inns_Score"].str.strip("*")
df["Highest_Inns_Score"] = df["Highest_Inns_Score"].astype("int")

In [35]:
df["Batting_Average"] = df["Batting_Average"].astype("float")
df["Balls_Faced"] = df["Balls_Faced"].astype("int")
df["Batting_Strike_Rate"] = df["Batting_Strike_Rate"].astype("float")

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player               100 non-null    object
 1   Span                 100 non-null    object
 2   Matches_Played       100 non-null    int32
 3   Innings_Batted       100 non-null    int32
 4   Not_Outs             100 non-null    int32
 5   Runs_Scored          100 non-null    int32
 6   Highest_Inns_Score   100 non-null    int32
 7   Batting_Average      100 non-null    float64
 8   Balls_Faced          100 non-null    int32
 9   Batting_Strike_Rate  100 non-null    float64
 10  Hundreds_Scored      100 non-null    object
 11  Fifties_Scored       100 non-null    object
 12  Ducks_Scored         100 non-null    object
 13  Boundary_Fours       100 non-null    object
 14  Boundary_Sixes       100 non-null    object
 15  Country              100 non-null    object
dtypes: float64(2), int32(6), object(8)
memory usage: 10.9+ KB

In [37]:
#Hundreds_Scored      100 non-null    object 
#Fifties_Scored       100 non-null    object 
#Ducks_Scored         100 non-null    object 
#Boundary_Fours       100 non-null    object 
#Boundary_Sixes       100 non-null    object
df.head()

,Player,Span,Matches_Played,Innings_Batted,Not_Outs,Runs_Scored,Highest_Inns_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Hundreds_Scored,Fifties_Scored,Ducks_Scored,Boundary_Fours,Boundary_Sixes,Country
0,GS Ballance,2023-2023,1,2,1,155,137,155.00,294,52.72,1,-,-,12,2,ZIM
1,Saud Shakeel,2023-2023,4,7,2,504,208,100.80,1090,46.23,2,1,-,60,0,PAK
2,YBK Jaiswal,2023-2023,2,3,0,266,171,88.66,491,54.17,1,1,-,29,3,IND
3,AR Patel,2023-2023,4,5,2,264,84,88.00,474,55.69,-,3,-,25,9,IND
4,Shakib Al Hasan,2023-2023,1,1,0,87,87,87.00,94,92.55,-,1,-,14,0,BAN

In [47]:
df["Hundreds_Scored"] = df["Hundreds_Scored"].str.replace("-","")
df["Fifties_Scored"] = df["Fifties_Scored"].str.replace("-","")
df["Ducks_Scored"] = df["Ducks_Scored"].str.replace("-", "")

df.dtypes

Player                  object
Span                    object
Matches_Played           int32
Innings_Batted           int32
Not_Outs                 int32
Runs_Scored              int32
Highest_Inns_Score       int32
Batting_Average        float64
Balls_Faced              int32
Batting_Strike_Rate    float64
Hundreds_Scored         object
Fifties_Scored          object
Ducks_Scored            object
Boundary_Fours          object
Boundary_Sixes          object
Country                 object
dtype: object

In [55]:
df["Hundreds_Scored"] = pd.to_numeric(df["Hundreds_Scored"], errors="coerce").fillna(0).astype(int)
df["Fifties_Scored"] = pd.to_numeric(df["Fifties_Scored"], errors="coerce").fillna(0).astype(int)
df["Ducks_Scored"] = pd.to_numeric(df["Ducks_Scored"], errors="coerce").fillna(0).astype(int)
df.dtypes

Player                  object
Span                    object
Matches_Played           int32
Innings_Batted           int32
Not_Outs                 int32
Runs_Scored              int32
Highest_Inns_Score       int32
Batting_Average        float64
Balls_Faced              int32
Batting_Strike_Rate    float64
Hundreds_Scored          int32
Fifties_Scored           int32
Ducks_Scored             int32
Boundary_Fours           int32
Boundary_Sixes           int32
Country                 object
dtype: object

In [53]:
df["Boundary_Fours"] = df["Boundary_Fours"].astype(int)
df["Boundary_Sixes"] = df["Boundary_Sixes"].astype(int)

In [54]:
pd.set_option("display.max_rows", 100)

In [56]:
df.to_csv("CleanedHighestCareerBattingAverage2023.csv")